{% extends 'Base.html' %}

{% block CSS %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/datepicker.css">
{% endblock %}

{% block Contenido %}
	<aside>
		<form method="post"> {% csrf_token %}
			<fieldset>
				<legend> Agregar Cobrador </legend>
				<p class="text-error"> {{Mensaje}} </p>
				{{ iFrmCobrador }}<br>
				<button type="submit" class="btn"> Guardar </button>
				<button type="button" class="btn btn-danger" id="Cancelar"> Cancelar </button>
			</fielset>
		</form>
	</aside>
{% endblock %}

{% block Cancelar %}
<script type="text/javascript">
	$(document).on("click", "#Cancelar", function(e) {
	 	bootbox.dialog("¿Seguro que desea Cancelar?", [{
			"label" : "No"
		}, {
			"label" : "Si",
			"class" : "btn-primary",
			"callback": function() {
				location.href = "/Catalogo/Consultar/Cobrador/";
			}
		}]);
	});
</script>
{% endblock %}

{% block Fechas %}
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>
	<script type="text/javascript">
		$('.datepicker').datepicker('setEndDate', '2013-05-02');
	</script>
{% endblock %}
