{% extends 'Base.html' %}

{% block Contenido %}
	<!--<table class="table">-->
	<section>
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
		<thead>
			<tr>
				<th> Descripcion </th>
				<th> Mantenimiento </th>
			</tr>
		</thead>
			<tbody>
				{% for i in iTblTipo %}
					<tr>
						<th> {{i.descripcion_tipo}} </th>
						<th>
						<a href="{% url Zapateria.views.EditarTipo i.id_tipo %}" class="btn">
							Editar
						</a>
						<button class="btn btn-danger" id="EColor" value="{{i.id_tipo}}">
							Eliminar
						</button>
						</th>
					</tr>
				{% empty %}
					<tr>
						<th colspan="2"> No hay Tipos de Productos Agregados </th>
					</tr>
				{% endfor %}
		</tbody>
	</table>
	<a href="{% url Zapateria.views.AgregarTipo %}" class="btn btn-primary"> Agregar </a>
	</section>
{% endblock %}

{% block Eliminar %}
<script type="text/javascript">
	$(document).on("click", "#Eliminar", function(e) {
	 	var value = $(this).val();
		bootbox.dialog("¿Seguro de Eliminar?", [{
			"label" : "Cancelar"
		}, {
			"label" : "Eliminar",
			"class" : "btn-primary",
			"callback": function() {
				location.href = "/Catalogo/Eliminar/Tipo/"+value;
			}
		}]);
	});
</script>
{% endblock %}