{% extends 'Base.html' %}

{% block Contenido %}
	<!--<table class="table">-->
	<!--<section>-->
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
		<thead>
			<tr>
				<th> Nombre </th>
				<th> Apellido </th>
				<th> Dui </th>
				<th> Nit </th>
				<th> Telefono </th>
				<th> Direccion </th>
				<th> Correo Electronico </th>
				<th> Mantenimiento </th>
			</tr>
		</thead>
			<tbody>
				{% for i in iTblPersonal %}
					<tr>
						<th> {{i.nombre_personal}} </th>
						<th> {{i.apellido_personal}} </th>
						<th> {{i.dui_personal}} </th>
						<th> {{i.nit_personal}} </th>
						<th> {{i.telefono_personal}} </th>
						<th> {{i.direccion_personal}} </th>
						<th> {{i.correo_electronico_personal}} </th>
						<th>
						<a href="{% url Zapateria.views.EditarCobrador i.id_personal %}" class="btn">
							Editar
						</a>
						<button class="btn btn-danger" id="Eliminar" value="{{i.id_personal}}">
							Eliminar
						</button>
						</th>
					</tr>
				{% empty %}
					<tr>
						<th colspan="8"> No hay Proveedores Agregados </th>
					</tr>
				{% endfor %}
		</tbody>
	</table>
	<a href="{% url Zapateria.views.AgregarCobrador %}" class="btn btn-primary"> Agregar </a>
	<!--</section>-->
{% endblock %}

{% block Eliminar %}
<script type="text/javascript">
	$(document).on("click", "#Eliminar", function(e) {
	 	var value = $(this).val();
		bootbox.dialog("¿Seguro de Eliminar?", [{
			"label" : "Cancelar"
		}, {
			"label" : "Eliminar",
			"class" : "btn-primary",
			"callback": function() {
				location.href = "/Catalogo/Eliminar/Cobrador/"+value;
			}
		}]);
	});
</script>
{% endblock %}